### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_nodup = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data["Total Players"] = purchase_data["SN"].nunique()
player_data = purchase_data[["Total Players"]]
player_data.head(1)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# purchase_data.nunique()
number_of_unique_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()

# average_price.style.format('${0:,.2f}')
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_total = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                          "Average Price": [average_price],
                                          "Number of Purchases": [number_of_purchases],
                                          "Total Revenue": [total_revenue]})
purchasing_analysis_total.style.format({"Average Price": '${0:,.2f}' , "Total Revenue": '${0:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_data_nodup.drop_duplicates(subset ="SN", keep = 'first', inplace = True)
purchase_gender_nodup = purchase_data_nodup.pivot_table(index = ['Gender'], aggfunc ='size')

purchase_gender = purchase_data.pivot_table(index = ['Gender'], aggfunc ='size')

male = purchase_gender_nodup['Male']
female = purchase_gender_nodup['Female']
other = purchase_gender_nodup['Other / Non-Disclosed']
total_player = male + female + other



gender_demo = pd.DataFrame({'': ['Male','Female','Other / Non-Disclosed'],'Total Count': [male, female, other], 
                            'Percentage of Player': [male/total_player*100, female/total_player*100, other/total_player*100]})
gender_demo.set_index(['']).style.format({"Percentage of Player": '{0:,.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
male_purchase_count = purchase_gender['Male']
female_purchase_count = purchase_gender['Female']
other_purchase_count = purchase_gender['Other / Non-Disclosed']
total_purchase_count = male_purchase_count + female_purchase_count + other_purchase_count

male_price = purchase_data.loc[purchase_data['Gender'] == 'Male', 'Price']
female_price = purchase_data.loc[purchase_data['Gender'] == 'Female', 'Price']
other_price = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed', 'Price']
total_price = male_price + female_price + other_price

avg_price_male = male_price.sum() / male_purchase_count
avg_price_female = female_price.sum() / female_purchase_count
avg_price_other = other_price.sum() / other_purchase_count

avg_purchase_per_male = male_price.sum() / male
avg_purchase_per_female = female_price.sum() / female
avg_purchase_per_other = other_price.sum() / other

purchasing_analysis_gender = pd.DataFrame({'Gender': ['Male','Female','Other / Non-Disclosed'],
                                           'Purchase Count': [male_purchase_count, female_purchase_count, other_purchase_count], 
                                           'Average Purchase Price': [avg_price_male, avg_price_female, avg_price_other], 
                                           'Total Purchase Value': [male_price.sum(), female_price.sum(), other_price.sum()],
                                           'Avg Total Purchase per Person': [avg_purchase_per_male, avg_purchase_per_female, avg_purchase_per_other]})

purchasing_analysis_gender.set_index(['Gender']).style.format({"Average Purchase Price": '${0:,.2f}', 
                                         "Total Purchase Value": '${0:,.2f}', 
                                         "Avg Total Purchase per Person": '${0:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]

group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

count1_nodup = sum(age < 10 for age in purchase_data_nodup['Age'])
count2_nodup = sum((age >= 10) & (age <=14) for age in purchase_data_nodup['Age'])
count3_nodup = sum((age >= 15) & (age <=19) for age in purchase_data_nodup['Age'])
count4_nodup = sum((age >= 20) & (age <=24) for age in purchase_data_nodup['Age'])
count5_nodup = sum((age >= 25) & (age <=29) for age in purchase_data_nodup['Age'])
count6_nodup = sum((age >= 30) & (age <=34) for age in purchase_data_nodup['Age'])
count7_nodup = sum((age >= 35) & (age <=39) for age in purchase_data_nodup['Age'])
count8_nodup = sum(age >= 40 for age in purchase_data_nodup['Age'])
length = len(purchase_data_nodup['Age'])
    
age_demo = pd.DataFrame({' ': group_names, 'Total Count': [count1_nodup, count2_nodup, count3_nodup, count4_nodup, count5_nodup, count6_nodup, count7_nodup, count8_nodup], 
                         'Percentage of Players':[(count1_nodup/length)*100,
                                                   (count2_nodup/length)*100, 
                                                   (count3_nodup/length)*100, 
                                                   (count4_nodup/length)*100, 
                                                   (count5_nodup/length)*100, 
                                                   (count6_nodup/length)*100, 
                                                   (count7_nodup/length)*100, 
                                                   (count8_nodup/length)*100]})

# age_demo[" "] = pd.cut(age_demo['Total Count'], bins, labels=group_names, include_lowest=True,)
age_demo.set_index(' ').style.format({'Percentage of Players':'{0:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:

count1 = sum(age < 10 for age in purchase_data['Age'])
count2 = sum((age >= 10) & (age <=14) for age in purchase_data['Age'])
count3 = sum((age >= 15) & (age <=19) for age in purchase_data['Age'])
count4 = sum((age >= 20) & (age <=24) for age in purchase_data['Age'])
count5 = sum((age >= 25) & (age <=29) for age in purchase_data['Age'])
count6 = sum((age >= 30) & (age <=34) for age in purchase_data['Age'])
count7 = sum((age >= 35) & (age <=39) for age in purchase_data['Age'])
count8 = sum(age >= 40 for age in purchase_data['Age'])

count1_purchase_total = purchase_data.loc[purchase_data['Age'] < 10, 'Price'].sum()
count2_purchase_total = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <=14), 'Price'].sum()
count3_purchase_total = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <=19), 'Price'].sum()
count4_purchase_total = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <=24), 'Price'].sum()
count5_purchase_total = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <=29), 'Price'].sum()
count6_purchase_total = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <=34), 'Price'].sum()
count7_purchase_total = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <=39), 'Price'].sum()
count8_purchase_total = purchase_data.loc[purchase_data['Age'] >= 40, 'Price'].sum()






purchase_analysis_age = pd.DataFrame({'Age Ranges': group_names, 
                                      'Purchase Count': [count1, count2, count3, count4, count5, count6, count7, count8], 
                                      'Average Purchase Price': [count1_purchase_total/count1,
                                                                 count2_purchase_total/count2, 
                                                                 count3_purchase_total/count3, 
                                                                 count4_purchase_total/count4, 
                                                                 count5_purchase_total/count5, 
                                                                 count6_purchase_total/count6, 
                                                                 count7_purchase_total/count7, 
                                                                 count8_purchase_total/count8],
                                      'Total Purchase Value': [count1_purchase_total,
                                                               count2_purchase_total, 
                                                               count3_purchase_total, 
                                                               count4_purchase_total, 
                                                               count5_purchase_total, 
                                                               count6_purchase_total, 
                                                               count7_purchase_total, 
                                                               count8_purchase_total],
                                      'Avg Total Purchase per Person': [count1_purchase_total/count1_nodup,
                                                                        count2_purchase_total/count2_nodup, 
                                                                        count3_purchase_total/count3_nodup, 
                                                                        count4_purchase_total/count4_nodup, 
                                                                        count5_purchase_total/count5_nodup, 
                                                                        count6_purchase_total/count6_nodup, 
                                                                        count7_purchase_total/count7_nodup, 
                                                                        count8_purchase_total/count8_nodup]})


purchase_analysis_age.set_index('Age Ranges').style.format({'Average Purchase Price':'${0:,.2f}',
                                                            'Total Purchase Value':'${0:,.2f}',
                                                            'Avg Total Purchase per Person':'${0:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
tot_freq = purchase_data['SN'].value_counts().head(30)
freq_names = tot_freq.index.tolist()


top_spend1 = purchase_data.loc[purchase_data['SN'] == freq_names[0], 'Price'].sum()
top_spend2 = purchase_data.loc[purchase_data['SN'] == freq_names[1], 'Price'].sum()
top_spend3 = purchase_data.loc[purchase_data['SN'] == freq_names[22], 'Price'].sum()
top_spend4 = purchase_data.loc[purchase_data['SN'] == freq_names[2], 'Price'].sum()
top_spend5 = purchase_data.loc[purchase_data['SN'] == freq_names[21], 'Price'].sum()

top_count1 = len(purchase_data.loc[purchase_data['SN'] == freq_names[0], 'Price'])
top_count2 = len(purchase_data.loc[purchase_data['SN'] == freq_names[1], 'Price'])
top_count3 = len(purchase_data.loc[purchase_data['SN'] == freq_names[22], 'Price'])
top_count4 = len(purchase_data.loc[purchase_data['SN'] == freq_names[2], 'Price'])
top_count5 = len(purchase_data.loc[purchase_data['SN'] == freq_names[21], 'Price'])

avg_top_spend1 = top_spend1 / top_count1
avg_top_spend2 = top_spend2 / top_count2
avg_top_spend3 = top_spend3 / top_count3
avg_top_spend4 = top_spend4 / top_count4
avg_top_spend5 = top_spend5 / top_count5

top_spenders = pd.DataFrame({'SN': [freq_names[0], freq_names[1], freq_names[22], freq_names[2], freq_names[21]],
                             'Purchase Count': [top_count1, top_count2, top_count3, top_count4, top_count5],
                             'Average Purchase Price': [avg_top_spend1, avg_top_spend2, avg_top_spend3, avg_top_spend4, avg_top_spend5],
                             'Total Purchase Value': [top_spend1, top_spend2, top_spend3, top_spend4, top_spend5]})

top_spenders.set_index('SN').style.format({'Average Purchase Price':'${0:,.2f}',
                                           'Total Purchase Value':'${0:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
most_pop = purchase_data['Item ID'].value_counts().head(6)
most_pop_list = most_pop.index.tolist()

most_count1 = len(purchase_data.loc[purchase_data['Item ID'] == most_pop_list[0], 'Price'])
most_count2 = len(purchase_data.loc[purchase_data['Item ID'] == most_pop_list[1], 'Price'])
most_count3 = len(purchase_data.loc[purchase_data['Item ID'] == most_pop_list[5], 'Price'])
most_count4 = len(purchase_data.loc[purchase_data['Item ID'] == most_pop_list[3], 'Price'])
most_count5 = len(purchase_data.loc[purchase_data['Item ID'] == most_pop_list[2], 'Price'])

most_count1_total = purchase_data.loc[purchase_data['Item ID'] == most_pop_list[0], 'Price'].sum()
most_count2_total = purchase_data.loc[purchase_data['Item ID'] == most_pop_list[1], 'Price'].sum()
most_count3_total = purchase_data.loc[purchase_data['Item ID'] == most_pop_list[5], 'Price'].sum()
most_count4_total = purchase_data.loc[purchase_data['Item ID'] == most_pop_list[3], 'Price'].sum()
most_count5_total = purchase_data.loc[purchase_data['Item ID'] == most_pop_list[2], 'Price'].sum()

most_count1_item_price = most_count1_total / most_count1
most_count2_item_price = most_count2_total / most_count2
most_count3_item_price = most_count3_total / most_count3
most_count4_item_price = most_count4_total / most_count4
most_count5_item_price = most_count5_total / most_count5



most_popular_items = pd.DataFrame({'Item ID': [most_pop_list[0], most_pop_list[1], most_pop_list[5], most_pop_list[3], most_pop_list[2]],
                             'Item Name': [purchase_data.loc[purchase_data['Item ID'] == most_pop_list[0], 'Item Name'].iloc[0], purchase_data.loc[purchase_data['Item ID'] == most_pop_list[1], 'Item Name'].iloc[0], purchase_data.loc[purchase_data['Item ID'] == most_pop_list[5], 'Item Name'].iloc[0], purchase_data.loc[purchase_data['Item ID'] == most_pop_list[3], 'Item Name'].iloc[0], purchase_data.loc[purchase_data['Item ID'] == most_pop_list[2], 'Item Name'].iloc[0]],
                             'Purchase Count': [most_count1, most_count2, most_count3, most_count4, most_count5],
                             'Item Price': [most_count1_item_price, most_count2_item_price, most_count3_item_price, most_count4_item_price, most_count5_item_price],
                             'Total Purchase Value': [most_count1_total, most_count2_total, most_count3_total, most_count4_total, most_count5_total]})

most_popular_items.set_index('Item ID').style.format({'Item Price':'${0:,.2f}',
                                           'Total Purchase Value':'${0:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:

most_profit = purchase_data['Item ID'].value_counts()
most_profit_name_list = most_profit.index.tolist()
most_profit_list = purchase_data['Item ID'].value_counts()


most_purchase_count = purchase_data['Item ID'].value_counts()

sum_total =  purchase_data.groupby(['Item ID', 'Item Name']).sum()

sum_total_df = sum_total.sort_values(by = ['Price'], ascending = False).drop(columns=['Purchase ID', 'Age','Total Players'])

sum_total_df.head()

most_profitable_items = pd.DataFrame({"Item ID": [most_profit_name_list[0],
                                                  most_profit_name_list[1],
                                                  most_profit_name_list[4],
                                                  most_profit_name_list[5],
                                                  most_profit_name_list[12]],
                       "Item Name": ['Final Critic',
                                     'Oathbreaker, Last Hope of the Breaking Storm',
                                     'Nirvana',
                                     'Fiery Glass Crusader',
                                     'Singed Scalpel'],
                       "Purchase Count": [most_purchase_count[92], 
                                          most_purchase_count[178], 
                                          most_purchase_count[82], 
                                          most_purchase_count[145], 
                                          most_purchase_count[103]],
                       "Item Price":[purchase_data.loc[purchase_data['Item ID'] == 92, 'Price'].sum() / most_purchase_count[92],
                                     purchase_data.loc[purchase_data['Item ID'] == 178, 'Price'].sum() / most_purchase_count[178],
                                     purchase_data.loc[purchase_data['Item ID'] == 82, 'Price'].sum() / most_purchase_count[82],
                                     purchase_data.loc[purchase_data['Item ID'] == 145, 'Price'].sum() / most_purchase_count[145],
                                     purchase_data.loc[purchase_data['Item ID'] == 103, 'Price'].sum() / most_purchase_count[103]],
                       "Total Purchase Value":[purchase_data.loc[purchase_data['Item ID'] == 92, 'Price'].sum(),
                                               purchase_data.loc[purchase_data['Item ID'] == 178, 'Price'].sum(),
                                               purchase_data.loc[purchase_data['Item ID'] == 82, 'Price'].sum(),
                                               purchase_data.loc[purchase_data['Item ID'] == 145, 'Price'].sum(),
                                               purchase_data.loc[purchase_data['Item ID'] == 103, 'Price'].sum()]})

most_profitable_items.set_index('Item ID').style.format({'Item Price':'${0:,.2f}',
                                           'Total Purchase Value':'${0:,.2f}'})

In [16]:
print('Most of the players that play this game and the majority of the purchases came from the age range of 20-24 years old.\nMajority of those purchases coming from male users. \n ')
print('The most popular item just so happens to be the most expensive, therefore the most profitable.\n')
print('It seems as if the more popular items are the most profitable with a couple of small exceptions.' )

Most of the players that play this game and the majority of the purchases came from the age range of 20-24 years old.
Majority of those purchases coming from male users.

The most popular item just so happens to be the most expensive, therefore the most profitable.

It seems as if the more popular items are the most profitable with a couple of small exceptions.